---
import type { GetStaticPaths } from "astro";
import { datos_tecnicos } from "../../datos/datos_tecnicos";
import Layout from "../../layouts/Layout.astro";
const { id } = Astro.params;
const identificacion = id;
console.log(identificacion);
console.log(id);

export const getStaticPaths = (() => {
  return datos_tecnicos.map((datos) => ({
    params: { id: datos.id },
  }));
}) satisfies GetStaticPaths;

const item = datos_tecnicos.find(
  (datos) => datos.id === parseInt(id.toString())
);
console.log(item);
---

<Layout title="Detalles">
  <section>
    <img src={item.imagen} alt="" />
    <div>
      <p>{item.caracteristica_uno}</p>
      <p>{item.caracteristica_uno2}</p>
      <p>{item.caracteristica_uno3}</p>
      <p>{item.caracteristica_uno4}</p>
    </div>
  </section>
</Layout>

<style>
  section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
  }
  img {
    width: 452px;
    height: 452px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 5%;
    padding: 20px;
  }
</style>
